.chatGrid{
    display: grid;
    height: 90vh;
    grid-template-rows: auto 1fr auto;
    border-left:1px solid rgba(235, 244, 245, 0.4); 
    border-right:1px solid rgba(235, 244, 245, 0.4); 
    background-color:  rgba(235, 244, 245, 0.4); 
}
.chatInfo{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    border-bottom:1px solid rgba(235, 244, 245, 0.4);
}
.chatInfoImage{
    width: 2.5rem;
    border-radius: 7px;
    height: 2.5rem;
    margin-right: 1rem;
}
.chatInfoText{
    display: flex;
    flex-direction: column;
}


.icon{
    color:#103783;
}

.messageForm{
    margin: 0.7rem;
    display: flex;
    justify-content: center;
    border-radius: 7px;
    background-color: rgba(235, 244, 245, 0.8);
    border: 1px solid rgba(235, 244, 245, 0.4);
}
.emojiSection{
    width: 100%;
    height: 200px;
    overflow: hidden auto;
    display: inline-flex;
   flex-wrap: wrap;
   padding: 1rem;

}
.emoji{
    font-size: 18px;
    /* text-align: center; */
    width: 40px;
    height: 40px;
}