.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0rem;
}
.userImage{
    width: 2rem;
    height: 2rem;
    border-radius: 7px;
}
.settingBar{
    position: absolute;
    z-index: 1000;
    top:50px;
    right: 1.5rem;
    transition: 1s all ease-in-out;
}
.navigation_list{
    display: flex;
    align-items: center;
    justify-content: center;
}